#centerarea {
  padding-top: 0;
  width: 100%;
  z-index: 10;
  height: 100vh;
  position: relative;
  text-align: center;
}
#centerarea h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 8vh;
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 0;
  padding-top: 33vh;
  margin-bottom: 3vh;
}
#centerbuttons a {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  color: white;
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  text-decoration: none;
  margin-left: 1vh;
  margin-right: 1vh;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#centerarea p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
  color: white;
  padding-top: 1vh;
}
#centerbuttons a:hover {
  color: rgba(127, 127, 127, 1);
  background-color: white;
}
#centerbuttons a:active {
  background-color: rgb(150, 150, 150);
  color: white;
}
#bg-img {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  background-image: url('assets/guild_photo.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
#discord, #apply {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}
#discordText {
  width: 35%;
  padding: 4.5vw;
  flex: 1;
}
#discordText h1, #applyText h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vh;
  color: rgb(70, 70, 70);
}
#discordText p, #applyText p {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vh;
  color: rgb(70, 70, 70);
}
#discordEmbed {
  flex: 1;
  width: 40%;
  height: 100%;
  margin-left: 0vw;
  margin-right: 4.5vw;
  margin-top: 6vw;
  margin-bottom: 6vw;
  height: auto;
  background-color: #2C2F33;
  border-radius: 20px;
}
#embedHeading {
  width: 100%;
  background-color: #7289DA;
  height: 30%;
  border-radius: 20px 20px 0 0;
}
#embedHeading img {
  /* padding-top: 12.5%; */
  padding-left: 20px;
  padding-top: 10px;
  height: 75%;
  vertical-align: middle;
}
#guildpfp {
  border-radius: 50%;
  margin-left: 5%;
  height: 40%;
}
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-image: url('assets/guild_photo.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  padding: 0;
  margin: 0;
}
#applyText {
  width: 40%;
  padding: 5vw;
  padding-left: 9vw;
  padding-top: 0;
  flex: 1;
}
#applyImg {
  width: 50%;
  flex: 1;
}
#joinImg {
 border-radius: 20px;
 margin: 5vw;
 margin-top: 1.25vw;
 margin-left: 4vw;
 width: 105%
}
